{% extends 'layouts/base.html.twig' %}

{% block title 'Change password' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="my-5 text-center">Change password</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary btn-block">
                Update password
            </button>

            {{ form_end(form) }}


        </div>
    </div>

{% endblock %}