{% extends 'layouts/base.html.twig' %}

{% block title 'New Pin' %}

{% block body %}
    <h1>Create Pin</h1>
    {{ form_start(monformulaire) }}
        {{ form_widget(monformulaire) }}

        <input type="submit" value="Create Pin" formnovalidate>

    {{ form_end(monformulaire) }}

{% endblock %}