{% extends 'layouts/base.html.twig' %}

{% block title 'Edit Pin#' ~ pin.id %}

{% block body %}
    <h1>Create Pin</h1>
    {{ form_start(monformulaire) }}
    {{ form_widget(monformulaire) }}

    <input type="submit" value="Edit Pin" formnovalidate>

    {{ form_end(monformulaire) }}

{% endblock %}