{% extends 'layouts/base.html.twig' %}

{% block body%}
    <h1>Access forbidden</h1>
    <p>
        Your cannot access this page. Got back to <a href="{{ path('app_home') }}">homepage</a>
    </p>
{% endblock %}